@model XSS.Models.RegisterViewModel

@{
    ViewBag.Title = "Index";
}


@Html.ActionLink(Model.NumeroDeCuenta,"InformacionDelaCuenta","ReferenciaDirecta",new { id=Model.NumeroDeCuenta},null)
    @*@Html.ActionLink("prueba", "InformacionDelaCuenta", "ReferenciaDirecta")*@

    <h2>Index</h2>

