@model XSS.Models.RegisterViewModel

@{
    ViewBag.Title = "Index";
}
<h2>Bienvenido</h2>
<h4>Numero de Cuenta</h4>

@Html.ActionLink(Model.NumeroDeCuenta,"InformacionDelaCuenta","ReferenciaDirecta",new { id=Model.NumeroDeCuenta},null)
    @*@Html.ActionLink("prueba", "InformacionDelaCuenta", "ReferenciaDirecta")*@

    

